@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title me</h2>



<P align="center">
<img src="~/Content/Images/nisanur.jpg" border="0">
</P>
<p align="CENTER">
    <b>
        <font color="black">
            NİSANUR MÜHÜRDAROĞLU
    </b>
    <br>
    <i>
        Curriculum Vitae
    </i>
    </font>
    </BR>
</p>

<body>
    <center>
        <br>
        <u>

            <u>
                <font color="blue">
                    EDUCATION
                </font>
                </b>
            </u>
            </BR>

            <p>
                <i>
                    <b>
                        (2011- ) Yıldırım Beyazıt University
                </i>
                </b>
                <br>
                Computer Engineering
                </br>
            </p>


            <b>
                Areas studied include:
            </b>
            <p>
                Computer Programming( I-II), Object Oriented Programming, Data Structures, Computer System
                Architecture, Electronic Circuits, Electrical Circuits and Electronic Devices, Digital Design, Engineering
                Mathematics(I-II), Probability and Statics, Entrepreneurship.Design and Analysis of Algorithms,Artificial Intelligence,
                Signals and Systems, Operating Systems,Database Management Systems
            </p>

            <p>
                <b>
                    <i>
                        (2006-2010) Private Nene Hatun Anotolian High School
                </b>
                </i>
                <br>
                Sciences
                </br>

                <br>
                <b>
                    <u>
                        <font color="blue">
                            EXPERIENCES
                        </font>
                    </u>
                </b>
                </br>

            <p>
                <i>
                    AKGUN SOFTWARE
                </i>
                <br>
                Internship (06.2014 - 08.2014): 30 days
                </br>
                Department of Research and Development
                <br>
                Project Subject: Information Systems
                </br>
            </p>

            <br>
            <b>
                <u>
                    <font color="blue">
                        SKILLS
                    </font>
                </u>
            </b>
            </br>

            <p>
                <b>
                    <i>
                        Programming Languages:
                    </i>
                </b>
                C (good) , Java (good), Matlab (beginner)
            </p>

            <p>
                <b>
                    <i>
                        Database Systems:
                    </i>
                </b>
                MySQL, Oracle
            </p>

            <p>
                <b>
                    <i>
                        Computer Programs:
                    </i>
                </b>
                Dev C++, Eclipse, Netbeans, Multism, Xilinx, Wireshark, Matlab
            </p>

            <p>
                <b>
                    <i>
                        OS:
                    </i>
                </b>
                Windows 7-8, Linux
            </p>

            <p>
                <b>
                    <i>
                        Foreign Language:
                    </i>
                </b>
                English (upper)
            </p>

            <br>
            <b>
                <u>
                    <font color="blue">
                        COURSES & SEMINARS
                    </font>
            </b>
        </u>
        </br>

        <p>
            <b>
                <i>
                    Seminar(2014):
                </i>
            </b>
            ODTU 14.Management and Engineering Days - Innovation
        </p>


        <br>
        <b>
            <u>
                <font color="blue">
                    PROJECTS
                </font>
        </b>
        </U>
        </BR>

        <p>
            Sentimental Analysis
            <br>
            University Information System Automation
            </br>
            USB Copier
            </br>
        </p>
    </center>


