
    @{
        ViewBag.Title = "Home Page";
    }

    <style>
        body {
            background-image: url("/Content/Images/1.jpg");
           
             background-repeat: no-repeat;
      
        }
        p.text {
          font-family : "Times New Roman", Times, serif;
          font-size:x-large;
          text-align: left;
          margin-left:auto;
          margin-right:auto;

          width:50%;
}
    </style>

<center>
    <h1><font size="25">The Book Selling Application</font></h1>
   
</center>


<center>
    
        <p class="text">
           
               
                    This block is designed for selling book. You can find different kinds of books what you want. Let's visit the trade-in store.
                
        </p>
    
</center>

</body>
</html>


